# Variaveis Host
HOST=localhost
PORT=0000
DATABASE_URL=mysql://user:password@localhost:port/db_name
JWT_SECRET=chave_secret
DB_PORT=0000

# Variaveis Docker
MYSQL_ROOT_PASSWORD=senha_root
# MYSQL_DATABASE=nome_do_banco
MYSQL_USER=usuario
MYSQL_PASSWORD=senha_usuario
NODE_ENV=developement
DOCKER_DATABASE_URL=mysql://user:password@service:port/db_name